In [7]:
import json
with open('../data/test01.json', 'r') as file:
    data = json.load(file)

(data)

[{'id': 1,
  'name': 'Kim Crawl',
  'age': 28,
  'hobby': 'Painting',
  'apply': ['Amazon', 'Microsoft']},
 {'id': 2,
  'name': 'Lee Pai',
  'age': 34,
  'hobby': 'Music',
  'apply': ['Meta', 'X', 'Linkedin']}]

In [9]:
data[0]

{'id': 1,
 'name': 'Kim Crawl',
 'age': 28,
 'hobby': 'Painting',
 'apply': ['Amazon', 'Microsoft']}

In [10]:
data[0]['apply']

['Amazon', 'Microsoft']

In [11]:
data[0]['age']

28

In [12]:
import pandas as pd

df = pd.DataFrame(data)
df

   id       name  age     hobby                apply
0   1  Kim Crawl   28  Painting  [Amazon, Microsoft]
1   2    Lee Pai   34     Music  [Meta, X, Linkedin]

In [14]:
string = "a"
str_encode = string.encode("utf-8")
str_decode = str_encode.decode("utf-8")
str_encode

b'a'

In [16]:
string = "아"
str_encode = string.encode("utf-8")
str_encode

b'\xec\x95\x84'

In [17]:
import hashlib

pw ="비밀번호1234"
pw_encode = pw.encode("utf-8")
pw_hash = hashlib.sha256(pw_encode).hexdigest()
pw_hash

'a0191747a9c89b6b08303dc7f1497b4d34ebd44e978045eb0d5da4c04f04705f'