# pandas merge


> 데이터 프레임들을 database에서와 같은 병합을 하게 해주는 함수
>
> 엑셀의 vlookup같은 병합도 가능하다.

In [14]:
import pandas as pd
from pathlib import Path
from icecream import ic

In [15]:
pd.set_option('display.max_rows', 6) # 최대 6줄까지 출력
url = Path("assets") / "02_02_merge01.xlsx"

In [20]:
df1 = pd.read_excel(url)
df1

      이름     제품
0    백철민   아이스티
1    박태인  레몬에이드
2    국지용  아메리카노
..   ...    ...
371  기주봉   아이스티
372  백승환  바닐라라떼
373  계승현  레몬에이드

[374 rows x 2 columns]

In [25]:
df2 = pd.read_excel(url, sheet_name=1)
df2

       제품    가격
0   아메리카노  3900
1   바닐라라떼  3900
2    까페라떼  3900
..    ...   ...
7     자몽티  4100
8   레몬에이드  4400
9   오렌지주스  3600

[10 rows x 2 columns]

In [29]:
df3 = df1.merge(df2, how='left', on='제품')
df3.to_excel(Path("assets") / "merge_result01.xlsx")