In [18]:
import pandas as pd

df = pd.read_csv("../ab_clicks_practice.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  2000 non-null   int64
 1   group    2000 non-null   object
 2   clicked  2000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 47.0+ KB

In [19]:
df.describe()

           user_id      clicked
count  2000.000000  2000.000000
mean   1000.500000     0.093000
std     577.494589     0.290505
min       1.000000     0.000000
25%     500.750000     0.000000
50%    1000.500000     0.000000
75%    1500.250000     0.000000
max    2000.000000     1.000000

In [20]:
# 그룹별 데이터 필터링
group_a = df[df['group'] == 'A']
group_b = df[df['group'] == 'B']

print(len(group_a))
print(len(group_b))

1008
992

In [21]:
group_list = list(df['group'])

count_a = 0
count_b = 0

for g in group_list:
    if g == 'A':
        count_a = count_a + 1
    elif g == 'B':
        count_b = count_b + 1

print(f"A그룹 표본 개수: {count_a}개")
print(f"B그룹 표본 개수: {count_b}개")
print(f"전체 표본 개수: {count_a + count_b}개") # df.info() 에서 확인한대로 2000개 맞는지 검증

A그룹 표본 개수: 1008개
B그룹 표본 개수: 992개
전체 표본 개수: 2000개

In [22]:
click_list = list(df['clicked'])

k_a = 0  # A그룹의 클릭 횟수
k_b = 0  # B그룹의 클릭 횟수

for i in range(len(group_list)):
       if group_list[i] == 'A' and click_list[i] == 1:  # A그룹 클릭
        k_a = k_a + 1


       elif group_list[i] == 'B' and click_list[i] == 1:# B그룹 클릭
        k_b = k_b + 1

print(f"A그룹의 총 클릭 횟수(k_a): {k_a}회")
print(f"B그룹의 총 클릭 횟수(k_b): {k_b}회")

A그룹의 총 클릭 횟수(k_a): 88회
B그룹의 총 클릭 횟수(k_b): 98회

In [23]:
p_a = k_a / count_a # A그룹 클릭률
p_b = k_b / count_b # B그룹 클릭률

print(f"A그룹 클릭률: {p_a:.4f} (전체 {count_a}명 중 {k_a}명 클릭)")
print(f"B그룹 클릭률: {p_b:.4f} (전체 {count_b}명 중 {k_b}명 클릭)")

A그룹 클릭률: 0.0873 (전체 1008명 중 88명 클릭)
B그룹 클릭률: 0.0988 (전체 992명 중 98명 클릭)